* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center-justify {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  width: 100%;
  height: 50px;
  font-size: 32px;
  color: #ffffff;
  background-color: #36a4d7;
}

.view {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.view > .view-wrapper {
  width: 98%;
  /* height: 100vh; */
  background-color: yellow;
}

.boards-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.board-wrapper {
  width: 19%;
  height: 50%;
  padding-top: 12px;
  /* background-color: red; */
}

.board {
  width: 100%;
  border-radius: 3px;
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  background-color: #dfe1e6;
}

.board > .board-title {
  font-size: 16px;
  padding-bottom: 8px;
  /* min-height: 20px;
  margin-bottom: 4px; */
  /* background-color: #00ddcc; */
}

.card-list {
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.card {
  width: 92%;
  max-width: 200px;
  max-height: fit-content;
  background-color: #ffffff;
  margin: 4px auto;
  /* margin-bottom: 8px; */
  border-radius: 3px;
  padding: 8px;
  box-shadow: 3px 3px #a1a1a1;
}

.backlog-wrapper {
  width: 100%;
  position: fixed;
  bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.backlog-title {
  width: 98%;
}

.backlog-title-text {
  width: 150px;
  height: 28px;
  line-height: 28px;
  font-size: 16px;
  text-align: center;
  border-radius: 14px 14px 0 0;
  background-color: #babcbf;
  display: inline-block;
  margin-right: 1px;
}

.backlog-title-text:nth-child(2) {
  cursor: pointer;
}

.backlog-content {
  width: 98%;
  height: 180px;
  background-color: #dfe1e6;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}
